<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>967</integer>
  <key>capHeight</key>
  <integer>680</integer>
  <key>copyright</key>
  <string>Digitized data copyright &#xc2;&#xa9; 2012-2015, The Mozilla Foundation and Telefonica S.A. System Font Replacement version 2015-2016 by Jens Kutilek.</string>
  <key>descender</key>
  <integer>-211</integer>
  <key>familyName</key>
  <string>.SF NS Text</string>
  <key>italicAngle</key>
  <integer>0</integer>
  <key>openTypeHeadCreated</key>
  <string>2015/09/09 10:44:38</string>
  <key>openTypeHeadFlags</key>
  <array>
  </array>
  <key>openTypeHheaAscender</key>
  <integer>967</integer>
  <key>openTypeHheaDescender</key>
  <integer>-211</integer>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNameDesigner</key>
  <string>Carrois Corporate &amp; Edenspiekermann AG</string>
  <key>openTypeNameDesignerURL</key>
  <string>http://www.carrois.com/</string>
  <key>openTypeNameLicense</key>
  <string>Licensed under the Open Font License, version 1.1 or later</string>
  <key>openTypeNameLicenseURL</key>
  <string>http://scripts.sil.org/OFL</string>
  <key>openTypeNameManufacturer</key>
  <string>Jens Kutilek</string>
  <key>openTypeNameManufacturerURL</key>
  <string>http://www.kutilek.de/</string>
  <key>openTypeNameDescription</key>
  <string></string>
  <key>openTypeNamePreferredFamilyName</key>
  <string>.SF NS Text</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Thin UltraCondensed</string>
  <key>openTypeNameSampleText</key>
  <string></string>
  <key>openTypeNameUniqueID</key>
  <string></string>
  <key>openTypeNameVersion</key>
  <string></string>
  <key>openTypeOS2FamilyClass</key>
  <array>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>250</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>50</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>700</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>140</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>650</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>700</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>477</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>650</integer>
  <key>openTypeOS2Type</key>
  <array>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>967</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-211</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>0</integer>
  <key>openTypeOS2VendorID</key>
  <string>jens</string>
  <key>openTypeOS2WeightClass</key>
  <integer>100</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>1</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>967</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>211</integer>
  <key>postscriptBlueFuzz</key>
  <integer>1</integer>
  <key>postscriptBlueScale</key>
  <real>0.039625</real>
  <key>postscriptBlueShift</key>
  <integer>7</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-12</integer>
    <integer>0</integer>
    <integer>517</integer>
    <integer>529</integer>
    <integer>557</integer>
    <integer>569</integer>
    <integer>680</integer>
    <integer>692</integer>
    <integer>727</integer>
    <integer>739</integer>
  </array>
  <key>postscriptUniqueID</key>
  <integer>-1</integer>
  <key>postscriptFontName</key>
  <string>.SFNSText-Thin</string>
  <key>postscriptForceBold</key>
  <false/>
  <key>postscriptFullName</key>
  <string>.SF NS Text Thin</string>
  <key>postscriptIsFixedPitch</key>
  <false/>
  <key>postscriptOtherBlues</key>
  <array>
    <integer>-200</integer>
    <integer>-188</integer>
  </array>
  <key>postscriptStemSnapH</key>
  <array>
    <integer>2</integer>
  </array>
  <key>postscriptStemSnapV</key>
  <array>
    <integer>2</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <integer>-100</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>50</integer>
  <key>postscriptWeightName</key>
  <string>Thin</string>
  <key>styleMapFamilyName</key>
  <string>.SF NS Text Thin</string>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>Thin UltraCondensed</string>
  <key>trademark</key>
  <string>Fira Sans is a trademark of The Mozilla Corporation.</string>
  <key>unitsPerEm</key>
  <integer>1000</integer>
  <key>versionMajor</key>
  <integer>4</integer>
  <key>versionMinor</key>
  <integer>106</integer>
  <key>year</key>
  <integer>0</integer>
  <key>xHeight</key>
  <integer>517</integer>
  <key>macintoshFONDFamilyID</key>
  <integer>128</integer>
</dict>
</plist>
