<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>951</integer>
	<key>capHeight</key>
	<integer>689</integer>
	<key>copyright</key>
	<string>Digitized data copyright 2012-2014, The Mozilla Foundation and Telefonica S.A. System Font Replacement version 2014 by Jens Kutilek.</string>
	<key>descender</key>
	<integer>-200</integer>
	<key>familyName</key>
	<string>System Font</string>
	<key>openTypeHeadCreated</key>
	<string>2014/07/03 17:11:32</string>
	<key>openTypeHheaAscender</key>
	<integer>951</integer>
	<key>openTypeHheaDescender</key>
	<integer>-200</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Carrois Corporate &amp; Edenspiekermann AG</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.carrois.com/</string>
	<key>openTypeNameLicense</key>
	<string>Licensed under the Open Font License, version 1.1 or later</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Jens Kutilek</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.kutilek.de/</string>
	<key>openTypeOS2Type</key>
	<array>
		<integer>2</integer>
		<integer>8</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>951</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-200</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>netz</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>951</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>200</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-14</integer>
		<integer>0</integer>
		<integer>527</integer>
		<integer>541</integer>
		<integer>564</integer>
		<integer>578</integer>
		<integer>689</integer>
		<integer>703</integer>
		<integer>739</integer>
		<integer>753</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>-14</integer>
		<integer>0</integer>
		<integer>564</integer>
		<integer>578</integer>
		<integer>689</integer>
		<integer>703</integer>
		<integer>739</integer>
		<integer>753</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
		<integer>-216</integer>
		<integer>-202</integer>
	</array>
	<key>postscriptFontName</key>
	<string>.HelveticaNeueDeskInterface-Regular</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-216</integer>
		<integer>-202</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>74</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>92</integer>
	</array>
	<key>styleMapFamilyName</key>
	<string>System Font</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Fira Sans is a trademark of The Mozilla Corporation.</string>
	<key>unitsPerEm</key>
	<integer>984</integer>
	<key>versionMajor</key>
	<integer>3</integer>
	<key>versionMinor</key>
	<integer>111</integer>
	<key>xHeight</key>
	<integer>527</integer>
</dict>
</plist>
